@font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
    font-family: 'Gilroy', Gilroy, sans-serif;
    font-weight: 400;
}

@media (min-width: 1300px) { /* для desktop экранов более 1300 px */
    .header {
        height: 8vh;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 0.7vw;
    }
    .logo {
        grid-column: 1;
        align-self: center;
    }
    .nav-menu {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 3vw;
        grid-column: 2 / 8;
        grid-row: 1;
    }
    .nav-menu__item {
        text-decoration: unset;
        background-color: rgb(0, 0, 0 / 0);
        color:#F1F1F1;
    }
    .button-buy {
        grid-column: 9;
        border-radius: 65px;
        background-color: #F1F1F1;
        color: #151515;
        height: 8vh;
        width: 10vw;
        align-self: center;
        font-weight: 700;
        font-size: 16px;
        
    }
    h1 {
        font-family: 'Gilroy', sans-serif;
        font-size: 80px;
        font-weight: 600;
        line-height: 80px;
        text-align: left;
    }
    .hero {
        padding: 6vh 10vw 6vh 10vw;
        height: 1861px;
        background-image: url(assets/hero-section-bg.png);
        background-size: cover;
        box-sizing: border-box;
    }
    .preview {
        margin: 19vh 0 30vh 0;
    }
    .preview-title {
        font-weight: 600;
        line-height: 85px;
        font-size: 80px;
        margin-bottom: 30px;
    }
    .preview-title_white {
        color: #F1F1F1;
    }
    .preview-description {
        font-weight: 600;
        line-height: 36px;
        font-size: 30px;
        margin-bottom: 10vh;
    }
    .preview-description_orange {
        color: #FF4C0D;
    }
    .switch-btn {
        display: inline-block;
        width: 248px; /* ширина переключателя */
        height: 54px; /* высота переключателя */
        border-radius: 108px; /* радиус скругления */
        background: rgba(0, 0, 0, 0); /* цвет фона */
        border-style: solid;
        border-width: 3px;
        border-color: #F1F1F1;
        z-index: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        position: relative;
        transition-duration: 300ms; /* анимация */
        box-sizing: content-box;
    }
    .switch-btn::after {
        content: "";
        height: 54px; /* высота кнопки */
        width: 118px; /* ширина кнопки */
        border-radius: 65px; /* радиус кнопки */
        background: #F1F1F1; /* цвет кнопки */
        /*top: -1px;  положение кнопки по вертикали относительно основы */
        left: -1px;/* положение кнопки по горизонтали относительно основы */
        transition-duration: 300ms; /* анимация */
        position: absolute;
        z-index: 1;
    }
    .switch-on {
        background: rgb(0, 0, 0 / 0);
    }
    .switch-on::after {
        left: 131px;
        background: #F1F1F1;
    }
    .switch-btn__content {
        position: absolute;
        font-family: Gilroy;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        z-index: 2;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    }
    .switch-btn__content_first {
        left: 30px;
        top: 15px;
        color: #151515;
    }

    .switch-btn__content_second {
        left: 165px;
        top: 15px;
        color: #F1F1F1;
    }

    .switch-on > .switch-btn__content_first {
        /* transition-duration: 300ms;
        transition-timing-function: ease-in-out; */
        color: #F1F1F1;
    }

    .switch-on > .switch-btn__content_second {
        /* transition-duration: 300ms;
        transition-timing-function: ease-in-out; */
        color: #151515;
    }
    .title {
        font-family: Gilroy;
        font-size: 45px;
        font-weight: 500;
        line-height: 49.5px;
        text-align: left;
        color: #F1F1F1
    }
    .title_orange {
        color: #FF4C0D;
    }

    .features {
        display: flex;
        flex-direction: column;
        gap: 10vh;
    }

    .features-list {
        display: flex;
    }
    .features-list_horisontal {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .features-card {
        width: 25vw;
        opacity: 40%;
    }
    .features-card:hover {
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
        opacity: 100%;
    }
    .features-card__line {
        background-color: #F1F1F1;
        height: 0.3vh;
        width: 100%;
        margin: 1vh 0 1vh 0;
    }
    .features-card:hover > .features-card__line {
        background-color:#FF4C0D;
    }
    .features-card__title {
        font-family: Gilroy;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
        color: #F1F1F1;
    }
    .features-card__text-content {
        font-family: Gilroy;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #F1F1F1;
    }

}

@media (max-width: 1300px) {

}

@media (max-width: 1200px) { /* для экранов до 1200 px*/
    
}
@media (max-width: 992px) { /* планшеты */
    
}
@media (max-width: 768px) { /* для мобилок в альбомной ориентации */
    
}
@media (max-width: 562px) { /* для мобилок в портретной ориентации */
    
}