@media (max-width: 992px) {
    .header {
        height: 6vh;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 0.7vw;
    }

    .logo {
        grid-column: 1;
        align-self: center;
        height: 37px;
        cursor: pointer;
    }

    .logo_white {
        display: none;
    }
    .logo_orange {
        display: inline-block;
    }

    .nav-menu {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 3vw;
        grid-column: 2 / 8;
        grid-row: 1;
    }

    .nav-menu__item {
        display: none;
        text-decoration: unset;
        background-color: rgb(0, 0, 0 / 0);
        color: #F1F1F1;
        font-size: 10px;
    }

    .button-buy {
        display: none;
    }
    
    .button-menu {
        display: inline-block;
        grid-column: 9;
        border-radius: 65px;
        background-image: url(../assets/640x960/mobile-menu-button-bg.png);
        background-position: center;
        color: #151515;
        border-color: rgba(0, 0, 0, 0);
        box-shadow: none;
        cursor: pointer;
        height: 54px;
        width: 54px;
        align-self: center;
    }

    h1 {
        font-family: 'Gilroy', sans-serif;
        font-size: 75px;
        font-weight: 600;
        line-height: 80px;
        text-align: left;
    }

    .hero {
        padding: 2vh 10vw 2vh 10vw;
        background-image: url(../assets/640x960/hero-section-bg-640x960.png);
        background-size: cover;
        box-sizing: border-box;
    }

    .preview {
        margin: 15vh 0 15vh 0;
    }

    .preview-title {
        font-weight: 600;
        line-height: 48px;
        font-size: 40px;
        margin-bottom: 30px;
    }

    .preview-title_color {
        color: #FF4C0D;
    }

    .preview-description {
        font-weight: 600;
        line-height: 24px;
        font-size: 20px;
        margin-bottom: 6vh;
    }

    .preview-description_color {
        color: #F1F1F1;
    }

    .switch-btn {
        display: inline-block;
        width: 248px;
        /* ширина переключателя */
        height: 54px;
        /* высота переключателя */
        border-radius: 108px;
        /* радиус скругления */
        background: rgba(0, 0, 0, 0);
        /* цвет фона */
        border-style: solid;
        border-width: 3px;
        border-color: #F1F1F1;
        z-index: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        position: relative;
        transition-duration: 300ms;
        /* анимация */
        box-sizing: content-box;
    }

    .switch-btn::after {
        content: "";
        height: 54px;
        /* высота кнопки */
        width: 118px;
        /* ширина кнопки */
        border-radius: 65px;
        /* радиус кнопки */
        background: #F1F1F1;
        /* цвет кнопки */
        /*top: -1px;  положение кнопки по вертикали относительно основы */
        left: -1px;
        /* положение кнопки по горизонтали относительно основы */
        transition-duration: 300ms;
        /* анимация */
        position: absolute;
        z-index: 1;
    }

    .switch-on {
        background: rgb(0, 0, 0 / 0);
    }

    .switch-on::after {
        left: 131px;
        background: #F1F1F1;
    }

    .switch-btn__content {
        position: absolute;
        font-family: Gilroy;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        z-index: 2;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    }

    .switch-btn__content_first {
        left: 30px;
        top: 15px;
        color: #151515;
    }

    .switch-btn__content_second {
        left: 165px;
        top: 15px;
        color: #F1F1F1;
    }

    .switch-on>.switch-btn__content_first {
        color: #F1F1F1;
    }

    .switch-on>.switch-btn__content_second {
        color: #151515;
    }

    .title {
        font-family: Gilroy;
        font-size: 43px;
        font-weight: 500;
        line-height: 49.5px;
        text-align: left;
        color: #F1F1F1
    }

    .title_color {
        color: #F1F1F1;
    }

    .features {
        display: flex;
        flex-direction: column;
        gap: 10vh;
    }

    .features-list {
        display: flex;
    }

    .features-list_flex {
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        width: 100%;
    }
    .features-point {
        width: 100%;
        opacity: 100%;
        cursor: pointer;
        pointer-events: none;
    }

    .features-point:hover {
        display: none;
    }

    .features-point__line {
        background-color: #FF4C0D;
        height: 3px;
        width: 25%;
        margin: 15px 0 15px 0;
    }

    .features-point:hover>.features-point__line {
        display:none
    }

    .features-point__title {
        font-family: Gilroy;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
        color: #FF4C0D;
    }

    .features-point__text-content {
        font-family: Gilroy;
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #F1F1F1;
        margin-bottom: 15px;
    }

    .features-point__image {
        border-radius: 15px;
        transform: rotateY(3.142rad);
        width: 100%;
        height: 36vh;
        background-size: cover;
        background-position: center;
    }

    .features-point_first > .features-point__image {
        background-image: url(../assets/speedModes.png);
    }

    .features-point_second > .features-point__image {
        background-image: url(../assets/batteryRecoverySystem.png);
    }

    .features-point_third > .features-point__image {
        background-image: url(../assets/highCapacityBattery.png);
    }

    .features-images {
        display: none;
    }

    .features-image_current {
        display: none;
    }

    .features-image_next {
        display: none;
    }

    /*============================================== subsection 2 ============================================== */





    .subsection-feature {
        background-image: url(../assets/speedSubSectionBG.png);
        height: 70vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .subsection-feature_container {
        padding: 6vh 10vw 6vh 10vw;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    }
    .subsection-card {
        display: flex;
        flex-direction: column;
        gap:30px;
    }
    .logo__always-on {
        display: inline-block;
        margin-right: auto;
    }

        /*============================================== section 3 ============================================== */




        .section-features {
            padding: 18vh 10vw 6vh 10vw;
            background-image: url(../assets/640x960/features-section-bg-640x960.png);
            background-size: cover;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 18vh;
        }
    
        .features-card_first {
            width: 100%;
            aspect-ratio: 16.1/16.1;
            position: relative;
            border-radius: 15px;
        }
    
        .features-card__bg-design {
            width: 100%;
            height: 74%;
            position: relative;
            background-image: url(../assets/features-card-design-bg.png);
            background-size: cover;
            background-position: 10% -50%;
            background-repeat: no-repeat;
            z-index: 0;
            border-radius: 15px;
    
        }
    
        .feature-box_in-card {
            width: 100%;
            height: 50%;
            position: absolute;
            box-sizing: border-box;
            z-index: 1;
            bottom: 0;
            background: linear-gradient(0deg, #0E0E0E 50.18%, rgba(14, 14, 14, 0) 88.52%);
            border-radius: 15px;
        }
    
        .feature-title {
            font-family: Gilroy;
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            text-align: left;
            color: #F1F1F1;
            padding: 15% 5vw 10px 5vw;
            margin-top: 5vh;
        }
    
        .feature-content {
            font-family: Gilroy;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: -0.01em;
            text-align: left;
            padding: 0 5vw 15% 5vw;
            color: #F1F1F1;
        }
    
        .features-card_second {
            width: 100%;
            background-image: url(../assets/scooterScreen.png);
            background-size: cover;
            background-position: top;
            aspect-ratio: 16.1/16.1;
            position: relative;
            border-radius: 15px;
        }
    
        .feature-box_in-card__no-gradient {
            background: linear-gradient(0deg, #0E0E0E 10.18%, rgba(14, 14, 14, 0) 88.52%);
        }
    
        .feature-box__gradient-layer {
            background: linear-gradient(180deg, #0E0E0E 20.18%, rgba(14, 14, 14, 0) 88.52%);
            width: 100%;
            height: 50%;
            border-radius: 15px;
        }
    
        .flex-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 12vh;
            box-sizing: border-box;
            height: 100%;
        }
    
    
        .safety {
            display: flex;
            flex-direction: column;
            gap: 10vh;
        }
    
        .safety-image_current {
            border-radius: 15px;
            background-image: url(../assets/safety-first.png);
            transition-property: background-image, opacity;
            transition-duration: 300ms;
            transition-timing-function: ease;
            transform: rotateY(3.142rad);
            width: 100%;
            background-size: cover;
            background-position: right;
            grid-column: 1 / 24;
            grid-row: 1 / 5;
    
        }
    
        .safety-image_next {
            border-radius: 15px;
            background-image: url(../assets/safety-second.png);
            transition-property: background-image, opacity;
            transition-duration: 300ms;
            transition-timing-function: ease;
            transform: rotateY(3.142rad);
            width: 100%;
            background-size: cover;
            background-position: center;
            grid-column: 25/ 36;
            grid-row: 1 / 4;
        }

        .safety-point_first > .safety__image {
            background-image: url(../assets/safety-first.png);
        }
        .safety-point_second > .safety__image {
            background-image: url(../assets/safety-second.png);
        }
        .safety-point_third > .safety__image {
            background-image: url(../assets/safety-third.png);
        }
        .safety-point_fourth > .safety__image {
            background-image: url(../assets/safety-fourth.png);
        }
    
        .mobile-app {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 2vw;
        }
    
        .mobile-app__badges {
            display: flex;
            flex-direction: row;
            gap: 1.5vw;
        }
    
        .badge__app-store {
            cursor: pointer;
            width: 8.3vw;
        }
    
        .badge__google-play {
            cursor: pointer;
            width: 9.4vw;
        }
    
        .subsection-card__mobile-app {
            width: 50%;
            height: 100%;
            gap: 3vh;
            align-self: center;
        }
    
        .subsection-card__mobile-app>.features-point__text-content {
            width: 59%;
        }
    
        .phone-preview {
            align-self: center;
            display: inline-block;
            position: relative;
            width: 50%;
            max-height: 100%;
            box-sizing: border-box;
            overflow: hidden;
        }
    
        .phone {
            object-fit: contain;
            width: 100%;
            height: 100%;
            object-position: top;
        }
    
        .section-features_no-padding-bottom {
            padding-bottom: 0;
        }

        .safety-list_flex {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        .mobile-title-color {
            color: #FF4C0D;
        }

}

@media (max-width: 768px) {
    /* для мобилок в альбомной ориентации как-нибудь потом */
    /* .features-point__image {
        border-radius: 15px;
        transform: rotateY(3.142rad);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
    } */


        /*============================================== subsection 2 ============================================== */





        /* .subsection-feature {
            background-image: url(../assets/speedSubSectionBG.png);
            width: 100vw;
            height: 65vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom;
        }
        .subsection-feature_container {
            padding: 6vh 10vw 6vh 10vw;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    
        }
        .subsection-card {
            display: flex;
            flex-direction: column;
            gap:30px;
        }
        .logo__always-on {
            display: inline-block;
            margin-right: auto;
            height: 30px;
        } */
}

@media (max-width: 562px) {
    .header {
        height: 6vh;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 0.7vw;
    }

    .logo {
        grid-column: 1;
        align-self: center;
        height: 37px;
        cursor: pointer;
    }

    .logo_white {
        display: none;
    }
    .logo_orange {
        display: inline-block;
    }

    .nav-menu {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 3vw;
        grid-column: 2 / 8;
        grid-row: 1;
    }

    .nav-menu__item {
        display: none;
        text-decoration: unset;
        background-color: rgb(0, 0, 0 / 0);
        color: #F1F1F1;
        font-size: 10px;
    }

    .button-buy {
        display: none;
    }
    
    .button-menu {
        display: inline-block;
        grid-column: 9;
        border-radius: 65px;
        background-image: url(../assets/640x960/mobile-menu-button-bg.png);
        background-position: center;
        color: #151515;
        border-color: rgba(0, 0, 0, 0);
        box-shadow: none;
        cursor: pointer;
        height: 54px;
        width: 54px;
        align-self: center;
    }

    h1 {
        font-family: 'Gilroy', sans-serif;
        font-size: 75px;
        font-weight: 600;
        line-height: 80px;
        text-align: left;
    }

    .hero {
        padding: 2vh 10vw 2vh 10vw;
        background-image: url(../assets/320x480/hero-section-bg-320x480.png);
        background-size: cover;
        box-sizing: border-box;
    }

    .preview {
        margin: 120% 0 15vh 0;
    }

    .preview-title {
        font-weight: 600;
        line-height: 30px;
        font-size: 30px;
        margin-bottom: 30px;
    }

    .preview-title_color {
        color: #FF4C0D;
    }

    .preview-description {
        font-weight: 600;
        line-height: 19.2px;
        font-size: 16px;
        margin-bottom: 6vh;
    }

    .preview-description_color {
        color: #F1F1F1;
    }

    .switch-btn {
        display: inline-block;
        width: 100%;
        /* ширина переключателя */
        height: 54px;
        /* высота переключателя */
        border-radius: 108px;
        /* радиус скругления */
        background: rgba(0, 0, 0, 0);
        /* цвет фона */
        border-style: solid;
        border-width: 3px;
        border-color: #F1F1F1;
        z-index: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        position: relative;
        transition-duration: 300ms;
        /* анимация */
        box-sizing: content-box;
    }

    .switch-btn::after {
        content: "";
        height: 54px;
        /* высота кнопки */
        width: 50%;
        /* ширина кнопки */
        border-radius: 65px;
        /* радиус кнопки */
        background: #F1F1F1;
        /* цвет кнопки */
        /*top: -1px;  положение кнопки по вертикали относительно основы */
        left: -1px;
        /* положение кнопки по горизонтали относительно основы */
        transition-duration: 300ms;
        /* анимация */
        position: absolute;
        z-index: 1;
    }

    .switch-on {
        background: rgb(0, 0, 0 / 0);
    }

    .switch-on::after {
        left: 50%;
        background: #F1F1F1;
    }

    .switch-btn__content {
        position: absolute;
        font-family: Gilroy;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        z-index: 2;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    }

    .switch-btn__content_first {
        left: 16%;
        top: 15px;
        color: #151515;
    }

    .switch-btn__content_second {
        left: 66%;
        top: 15px;
        color: #F1F1F1;
    }

    .switch-on>.switch-btn__content_first {
        color: #F1F1F1;
    }

    .switch-on>.switch-btn__content_second {
        color: #151515;
    }

    .title {
        font-family: Gilroy;
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        text-align: left;
        color: #F1F1F1
    }

    .title_color {
        color: #FF4C0D;
    }

    .features {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .features-list {
        display: flex;
    }

    .features-list_flex {
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        width: 100%;
    }

    .features-point {
        width: 100%;
        opacity: 100%;
        cursor: pointer;
        pointer-events: none;
    }

    .features-point:hover {
        display: none;
    }

    .features-point__line {
        background-color: #FF4C0D;
        height: 3px;
        width: 25%;
        margin: 15px 0 15px 0;
    }

    .features-point:hover>.features-point__line {
        display:none
    }

    .features-point__title {
        font-family: Gilroy;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.2px;
        text-align: left;
        color: #FF4C0D;
    }

    .features-point__text-content {
        font-family: Gilroy;
        font-size: 12px;
        font-weight: 400;
        line-height: 20.4px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #F1F1F1;
        margin-bottom: 15px;
    }

    .features-point__image {
        border-radius: 15px;
        transform: rotateY(3.142rad);
        width: 100%;
        height: 36vh;
        background-size: cover;
        background-position: center;
    }

    .features-point_first > .features-point__image {
        background-image: url(../assets/speedModes.png);
    }

    .features-point_second > .features-point__image {
        background-image: url(../assets/batteryRecoverySystem.png);
    }

    .features-point_third > .features-point__image {
        background-image: url(../assets/highCapacityBattery.png);
    }

    .features-images {
        display: none;
    }

    .features-image_current {
        display: none;
    }

    .features-image_next {
        display: none;
    }

    /*============================================== subsection 2 ============================================== */





    .subsection-feature {
        background-image: url(../assets/speedSubSectionBG.png);
        height: 65vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .subsection-feature_container {
        padding: 6vh 10vw 6vh 10vw;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);

    }
    .subsection-card {
        display: flex;
        flex-direction: column;
        gap:30px;
    }
    .logo__always-on {
        display: inline-block;
        margin-right: auto;
        height: 30px;
    }


    
    
}