@media (max-width: 992px) {
  .header {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0.7vw;
    height: 6vh;
  }

  .logo {
    grid-column: 1;
    align-self: center;
    height: 37px;
    cursor: pointer;
  }

  .logo_white {
    display: none;
  }

  .logo_orange {
    display: inline-block;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    grid-column: 2 / 8;
    grid-row: 1;
    align-items: center;
    gap: 3vw;
  }

  .nav-menu__item {
    display: none;
    color: #f1f1f1;
    font-size: 10px;
    text-decoration: unset;
    background-color: rgb(0, 0, 0 / 0);
  }

  .button-buy {
    display: none;
  }

  .button-menu {
    display: inline-block;
    grid-column: 9;
    align-self: center;
    width: 54px;
    height: 54px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 65px;
    box-shadow: none;
    color: #151515;
    background-image: url(../assets/640x960/mobile-menu-button-bg.png);
    background-position: center;
    cursor: pointer;
  }

  h1 {
    font-family: "Gilroy", Gilroy, sans-serif;
    font-weight: 600;
    font-size: 75px;
    line-height: 80px;
    text-align: left;
  }

  .hero {
    box-sizing: border-box;
    padding: 2vh 10vw 2vh 10vw;
    background-image: url(../assets/640x960/hero-section-bg-640x960.png);
    background-size: cover;
  }

  .preview {
    margin: 15vh 0 15vh 0;
  }

  .preview-title {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
  }

  .preview-title_color {
    color: #ff4c0d;
  }

  .preview-description {
    margin-bottom: 6vh;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  .preview-description_color {
    color: #f1f1f1;
  }

  .switch-btn {
    position: relative;
    z-index: 0;
    display: inline-block;
    box-sizing: content-box;
    width: 248px;
    height: 54px;
    margin: 0;
    border-width: 3px;
    border-style: solid;
    border-color: #f1f1f1;
    border-radius: 108px;
    padding: 0;
    background: rgba(0, 0, 0, 0);
    transition-duration: 300ms;
    cursor: pointer;
  }

  .switch-btn::after {
    content: "";
    position: absolute;
    left: -1px;
    z-index: 1;
    width: 118px;
    height: 54px;
    border-radius: 65px;
    background: #f1f1f1;
    transition-duration: 300ms;
  }

  .switch-on {
    background: rgb(0, 0, 0 / 0);
  }

  .switch-on::after {
    left: 131px;
    background: #f1f1f1;
  }

  .switch-btn__content {
    position: absolute;
    z-index: 2;
    font-family: "Gilroy", Gilroy, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }

  .switch-btn__content_first {
    top: 15px;
    left: 30px;
    color: #151515;
  }

  .switch-btn__content_second {
    top: 15px;
    left: 165px;
    color: #f1f1f1;
  }

  .switch-on > .switch-btn__content_first {
    color: #f1f1f1;
  }

  .switch-on > .switch-btn__content_second {
    color: #151515;
  }

  .title {
    color: #f1f1f1;
    font-family: "Gilroy", Gilroy, sans-serif;
    font-weight: 500;
    font-size: 43px;
    line-height: 49.5px;
    text-align: left;
  }

  .title_color {
    color: #f1f1f1;
  }

  .features {
    display: flex;
    flex-direction: column;
    gap: 10vh;
  }

  .features-list {
    display: flex;
  }

  .features-list_flex {
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
  }

  .features-point {
    width: 100%;
    opacity: 100%;
    cursor: pointer;
    pointer-events: none;
  }

  .features-point:hover {
    display: none;
  }

  .features-point__line {
    width: 25%;
    height: 3px;
    margin: 15px 0 15px 0;
    background-color: #ff4c0d;
  }

  .features-point:hover > .features-point__line {
    display: none;
  }

  .features-point__title {
    color: #ff4c0d;
    font-family: "Gilroy", Gilroy, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
  }

  .features-point__text-content {
    margin-bottom: 15px;
    color: #f1f1f1;
    font-family: "Gilroy", Gilroy, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.4px;
    letter-spacing: -0.01em;
    text-align: left;
  }

  .features-point__image {
    width: 100%;
    height: 36vh;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    transform: rotateY(3.142rad);
  }

  .features-point_first > .features-point__image {
    background-image: url(../assets/speedModes.png);
  }

  .features-point_second > .features-point__image {
    background-image: url(../assets/batteryRecoverySystem.png);
  }

  .features-point_third > .features-point__image {
    background-image: url(../assets/highCapacityBattery.png);
  }

  .features-images {
    display: none;
  }

  .features-image_current {
    display: none;
  }

  .features-image_next {
    display: none;
  }

  /*============================================== subsection 2 ============================================== */

  .subsection-feature {
    height: 70vh;
    background-image: url(../assets/speedSubSectionBG.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  .subsection-feature__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 6vh 10vw 6vh 10vw;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .subsection-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .logo__always-on {
    display: inline-block;
    margin-right: auto;
  }

  /*============================================== section 3 ============================================== */

  .section-features {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18vh;
    box-sizing: border-box;
    padding: 18vh 10vw 6vh 10vw;
    background-image: url(../assets/640x960/features-section-bg-640x960.png);
    background-size: cover;
  }

  .features-card_first {
    position: relative;
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 16.1/16.1;
  }

  .features-card__bg-design {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 74%;
    border-radius: 15px;
    background-image: url(../assets/features-card-design-bg.png);
    background-repeat: no-repeat;
    background-position: 10% -50%;
    background-size: cover;
  }

  .feature-box_in-card {
    position: absolute;
    bottom: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    border-radius: 15px;
    background: linear-gradient(
      0deg,
      #0e0e0e 50.18%,
      rgba(14, 14, 14, 0) 88.52%
    );
  }

  .feature-title {
    margin-top: 5vh;
    padding: 15% 5vw 10px 5vw;
    color: #f1f1f1;
    font-family: "Gilroy", Gilroy, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
  }

  .feature-content {
    padding: 0 5vw 15% 5vw;
    color: #f1f1f1;
    font-family: "Gilroy", Gilroy, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
  }

  .features-card_second {
    position: relative;
    width: 100%;
    border-radius: 15px;
    background-image: url(../assets/scooterScreen.png);
    background-position: top;
    background-size: cover;
    aspect-ratio: 16.1/16.1;
  }

  .feature-box_in-card__no-gradient {
    background: linear-gradient(
      0deg,
      #0e0e0e 10.18%,
      rgba(14, 14, 14, 0) 88.52%
    );
  }

  .feature-box__gradient-layer {
    width: 100%;
    height: 50%;
    border-radius: 15px;
    background: linear-gradient(
      180deg,
      #0e0e0e 20.18%,
      rgba(14, 14, 14, 0) 88.52%
    );
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12vh;
    box-sizing: border-box;
    height: 100%;
  }

  .safety {
    display: flex;
    flex-direction: column;
    gap: 10vh;
  }

  .safety-image_current {
    grid-column: 1 / 24;
    grid-row: 1 / 5;
    width: 100%;
    border-radius: 15px;
    background-image: url(../assets/safety-first.png);
    background-position: right;
    background-size: cover;
    transition-duration: 300ms;
    transition-property: background-image, opacity;
    transition-timing-function: ease;
    transform: rotateY(3.142rad);
  }

  .safety-image_next {
    grid-column: 25/ 36;
    grid-row: 1 / 4;
    width: 100%;
    border-radius: 15px;
    background-image: url(../assets/safety-second.png);
    background-position: center;
    background-size: cover;
    transition-duration: 300ms;
    transition-property: background-image, opacity;
    transition-timing-function: ease;
    transform: rotateY(3.142rad);
  }

  .safety-point_first > .safety__image {
    background-image: url(../assets/safety-first.png);
  }

  .safety-point_second > .safety__image {
    background-image: url(../assets/safety-second.png);
  }

  .safety-point_third > .safety__image {
    background-image: url(../assets/safety-third.png);
  }

  .safety-point_fourth > .safety__image {
    background-image: url(../assets/safety-fourth.png);
  }

  .mobile-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4vh;
  }

  .mobile-app__badges {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
  }

  .badge__app-store {
    width: 30%;
    cursor: pointer;
  }

  .badge__google-play {
    width: 30%;
    cursor: pointer;
  }

  .subsection-card__mobile-app {
    gap: 3vh;
    align-self: center;
    width: 100%;
    height: 100%;
  }

  .subsection-card__mobile-app > .features-point__text-content {
    width: 100%;
  }

  .phone-preview {
    position: relative;
    display: inline-block;
    align-self: center;
    box-sizing: border-box;
    width: 90%;
    min-height: 60vh;
    max-height: 100vh;
    overflow: hidden;
  }

  .phone {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    object-position: top;
  }

  .section-features_no-padding-bottom {
    padding-bottom: 0;
  }

  .safety-list_flex {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobile-title-color {
    color: #ff4c0d;
  }

  .feature-box_outside-card {
    display: none;
  }

  /*      SLIDER             ================================================================================                                            */

  .slide_first {
    width: 100vw;
    height: 70vh;
  }

  .slide_second {
    content: "placeholder";
    width: 100vw;
    height: 70vh;
    background-color: gray;
  }

  .slide_third {
    content: "placeholder";
    width: 100vw;
    height: 70vh;
    background-color: gray;
  }

  .about-xiaomi {
    width: 100vw;
    height: 70vh;
    background-image: url(../assets/about-xiaomi.jpg);
    background-position: center;
    background-size: cover;
  }

  .placeholder {
    height: 100%;
    height: 70vh;
    background-image: url(../assets/placeholder-1024x1024.png);
    background-position: center;
    background-size: cover;
  }

  .gradient-wrap {
    width: 100%;
    height: 100%;
    background: rgba(232, 181, 119, 0.25);
  }

  .text-content__black {
    width: 60%;
    color: #151515;
  }

  .slick-slide .slider__logo_orange {
    display: inline-block;
  }

  .slick-slide .slider__logo_white {
    display: none;
  }

  .subsection-feature__container_in-slider {
    background: none;
  }

  .title_in-slider {
    color: #ff4c0d;
  }

  /*      feedback section             ================================================================================                                            */
  .feedback {
    width: 100%;
    overflow: hidden;
    background-image: url(../assets/feedback-bg.png);
    background-size: cover;
  }

  .feedback__title {
    width: 80vw;
    padding: 6vh 10vw 4vh 10vw;
  }

  .review {
    box-sizing: border-box;
    width: 80vw;
    margin: 0 10vw 0 10vw;
    border-radius: 15px;

    background-color: #151515;
    aspect-ratio: 1.7/1.2;
  }

  .slider-menu {
    display: flex;
    justify-content: space-between;
    padding: 5vh 10vw 5vh 10vw;
  }

  .slider-nav__buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .review_make {
    align-self: center;
    width: 190px;
    height: 54px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 65px;
    box-shadow: none;
    color: #151515;
    font-weight: 700;
    font-size: 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }

  .prev {
    width: 54px;
    border: none;
    border-radius: 54px;
    background-image: url(../assets/next-button.svg);
    background-position: center;
    transform: rotate(180deg);
    cursor: pointer;
    aspect-ratio: 1/1;
  }

  .next {
    width: 54px;
    border: none;
    border-radius: 54px;
    background-image: url(../assets/next-button.svg);
    background-position: center;
    cursor: pointer;
    aspect-ratio: 1/1;
  }

  .review-point {
    padding: 40px 20px 40px 20px;
  }

  .review-point__title {
    color: #f1f1f1;
    font-family: "Gilroy", Gilroy, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
  }

  .review-point__line {
    width: 25%;
    height: 3px;
    margin: 15px 0 15px 0;
    background-color: #ff4c0d;
  }

  .review-point__text-content {
    padding: 0 10px 0 0;
    color: #f1f1f1;
    font-family: "Gilroy", Gilroy, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
  }

  /* feedback info section ================================== */

  .feedback-info {
    padding: 6vh 10vw 6vh 10vw;
  }

  .feedback__questions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .questions__ask {
    display: flex;
    flex-direction: column;
    gap: 6vh;
    width: 40%;
    padding: 40px 0;
  }

  .questions__ask > .title {
    font-size: 25px;
  }

  .questions__ask > .button_ask {
    width: 80%;
  }

  .questions__popular {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  .questions__ask > .features-point__text-content {
    width: 70%;
  }

  .button_ask {
    align-self: start;
    width: 190px;
    height: 54px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 65px;
    box-shadow: none;
    color: #151515;
    font-weight: 700;
    font-size: 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }

  .container-card {
    position: relative;
    padding: 6vh 10vw 6vh 10vw;
  }

  .buy-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 60px;
    background-image: url(../assets/buy-card-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/1;
  }

  .preview-description.card__price {
    color: #ff4c0d;
  }

  .button-buy_orange {
    width: 130px;
    color: #f1f1f1;
    background-color: #ff4c0d;
  }

  .buy-card__input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .container_in-card {
    display: flex;
    flex-direction: column;
    gap: 10%;
    height: 70%;
  }

  .scooter-in-card {
    position: absolute;
    bottom: 5%;
    left: 30%;
    z-index: 0;
    height: 110%;
  }

  .scooter-in-card_active {
    z-index: 1;
  }

  .delivery-set {
    display: none;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10vw 6vh 10vw;
  }

  .footer > .review-point__text-content {
    margin: 0;
    text-align: center;
  }

  .footer > .review-point__text-content:last-child {
    margin-top: 20px;
    text-align: center;
  }
}

@media (max-width: 562px) {
  .header {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0.7vw;
    height: 6vh;
  }

  .logo {
    grid-column: 1;
    align-self: center;
    height: 37px;
    cursor: pointer;
  }

  .logo_white {
    display: none;
  }

  .logo_orange {
    display: inline-block;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    grid-column: 2 / 8;
    grid-row: 1;
    align-items: center;
    gap: 3vw;
  }

  .nav-menu__item {
    display: none;
    color: #f1f1f1;
    font-size: 10px;
    text-decoration: unset;
    background-color: rgb(0, 0, 0 / 0);
  }

  .button-buy {
    display: none;
  }

  .button-menu {
    display: inline-block;
    grid-column: 9;
    align-self: center;
    width: 54px;
    height: 54px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 65px;
    box-shadow: none;
    color: #151515;
    background-image: url(../assets/640x960/mobile-menu-button-bg.png);
    background-position: center;
    cursor: pointer;
  }

  h1 {
    font-family: "Gilroy", Gilroy, sans-serif;
    font-weight: 600;
    font-size: 75px;
    line-height: 80px;
    text-align: left;
  }

  .hero {
    box-sizing: border-box;
    padding: 2vh 10vw 2vh 10vw;
    background-image: url(../assets/320x480/hero-section-bg-320x480.png);
    background-size: cover;
  }

  .preview {
    margin: 120% 0 15vh 0;
  }

  .preview-title {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
  }

  .preview-title_color {
    color: #ff4c0d;
  }

  .preview-description {
    margin-bottom: 6vh;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.2px;
  }

  .preview-description_color {
    color: #f1f1f1;
  }

  .switch-btn {
    position: relative;
    z-index: 0;
    display: inline-block;
    box-sizing: content-box;
    width: 100%;
    height: 54px;
    margin: 0;
    border-width: 3px;
    border-style: solid;
    border-color: #f1f1f1;
    border-radius: 108px;
    padding: 0;
    background: rgba(0, 0, 0, 0);
    transition-duration: 300ms;
    cursor: pointer;
  }

  .switch-btn::after {
    content: "";
    position: absolute;
    left: -1px;
    z-index: 1;
    width: 50%;
    height: 54px;
    border-radius: 65px;
    background: #f1f1f1;
    transition-duration: 300ms;
  }

  .switch-on {
    background: rgb(0, 0, 0 / 0);
  }

  .switch-on::after {
    left: 50%;
    background: #f1f1f1;
  }

  .switch-btn__content {
    position: absolute;
    z-index: 2;
    font-family: "Gilroy", Gilroy, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }

  .switch-btn__content_first {
    top: 15px;
    left: 16%;
    color: #151515;
  }

  .switch-btn__content_second {
    top: 15px;
    left: 66%;
    color: #f1f1f1;
  }

  .switch-on > .switch-btn__content_first {
    color: #f1f1f1;
  }

  .switch-on > .switch-btn__content_second {
    color: #151515;
  }

  .title {
    color: #f1f1f1;
    font-family: "Gilroy", Gilroy, sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
  }

  .title_color {
    color: #f1f1f1;
  }

  .features {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .features-list {
    display: flex;
  }

  .features-list_flex {
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
  }

  .features-point {
    width: 100%;
    opacity: 100%;
    cursor: pointer;
    pointer-events: none;
  }

  .features-point:hover {
    display: none;
  }

  .features-point__line {
    width: 25%;
    height: 3px;
    margin: 15px 0 15px 0;
    background-color: #ff4c0d;
  }

  .features-point:hover > .features-point__line {
    display: none;
  }

  .features-point__title {
    color: #ff4c0d;
    font-family: "Gilroy", Gilroy, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.2px;
    text-align: left;
  }

  .features-point__text-content {
    margin-bottom: 15px;
    color: #f1f1f1;
    font-family: "Gilroy", Gilroy, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20.4px;
    letter-spacing: -0.01em;
    text-align: left;
  }

  .features-point__image {
    width: 100%;
    height: 36vh;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    transform: rotateY(3.142rad);
  }

  .features-point_first > .features-point__image {
    background-image: url(../assets/speedModes.png);
  }

  .features-point_second > .features-point__image {
    background-image: url(../assets/batteryRecoverySystem.png);
  }

  .features-point_third > .features-point__image {
    background-image: url(../assets/highCapacityBattery.png);
  }

  .features-images {
    display: none;
  }

  .features-image_current {
    display: none;
  }

  .features-image_next {
    display: none;
  }

  /*============================================== subsection 2 ============================================== */

  .subsection-feature {
    height: 65vh;
    background-image: url(../assets/speedSubSectionBG.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  .subsection-feature__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 6vh 10vw 6vh 10vw;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .subsection-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .logo__always-on {
    display: inline-block;
    height: 30px;
    margin-right: auto;
  }

  /*============================================== section 3 ============================================== */

  .section-features {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10vh;
    box-sizing: border-box;
    padding: 10vh 10vw 6vh 10vw;
    background-image: url(../assets/320x480/features-section-bg-320x480.png);
    background-size: cover;
  }

  .features-card_first {
    position: relative;
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 16.1/16.1;
  }

  .features-card__bg-design {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-image: url(../assets/features-card-design-bg.png);
    background-repeat: no-repeat;
    background-position: 25%;
    background-size: cover;
  }

  .feature-box_in-card {
    position: absolute;
    bottom: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    border-radius: 15px;
    background: linear-gradient(
      0deg,
      #0e0e0e 50.18%,
      rgba(14, 14, 14, 0) 88.52%
    );
  }

  .feature-title {
    margin-top: 5vh;
    padding: 15% 5vw 10px 5vw;
    color: #f1f1f1;
    font-family: "Gilroy", Gilroy, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
  }

  .feature-content {
    padding: 0 5vw 15% 5vw;
    color: #f1f1f1;
    font-family: "Gilroy", Gilroy, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
  }

  .features-card_first > .feature-box_in-card {
    display: none;
  }

  .feature-box_in-card > .feature-content {
    display: none;
  }

  .feature-box_in-card > .feature-title {
    display: none;
  }

  .feature-box_outside-card {
    display: block;
  }

  .feature-box_outside-card > .feature-title {
    margin-top: 0;
    padding: 0 0 10px 0;
  }

  .feature-box_outside-card > .feature-content {
    padding: 0 0 10px 0;
  }

  .features-card_second {
    position: relative;
    width: 100%;
    border-radius: 15px;
    background-image: url(../assets/scooterScreen.png);
    background-position: top;
    background-size: cover;
    aspect-ratio: 16.1/16.1;
  }

  .feature-box_in-card__no-gradient {
    background: linear-gradient(
      0deg,
      #0e0e0e 10.18%,
      rgba(14, 14, 14, 0) 88.52%
    );
  }

  .feature-box__gradient-layer {
    width: 100%;
    height: 50%;
    border-radius: 15px;
    background: linear-gradient(
      180deg,
      #0e0e0e 20.18%,
      rgba(14, 14, 14, 0) 88.52%
    );
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8vh;
    box-sizing: border-box;
    height: 100%;
  }

  .safety {
    display: flex;
    flex-direction: column;
    gap: 5vh;
  }

  .safety-image_current {
    grid-column: 1 / 24;
    grid-row: 1 / 5;
    width: 100%;
    border-radius: 15px;
    background-image: url(../assets/safety-first.png);
    background-position: right;
    background-size: cover;
    transition-duration: 300ms;
    transition-property: background-image, opacity;
    transition-timing-function: ease;
    transform: rotateY(3.142rad);
  }

  .safety-image_next {
    grid-column: 25/ 36;
    grid-row: 1 / 4;
    width: 100%;
    border-radius: 15px;
    background-image: url(../assets/safety-second.png);
    background-position: center;
    background-size: cover;
    transition-duration: 300ms;
    transition-property: background-image, opacity;
    transition-timing-function: ease;
    transform: rotateY(3.142rad);
  }

  .safety-point_first > .safety__image {
    background-image: url(../assets/safety-first.png);
  }

  .safety-point_second > .safety__image {
    background-image: url(../assets/safety-second.png);
  }

  .safety-point_third > .safety__image {
    background-image: url(../assets/safety-third.png);
  }

  .safety-point_fourth > .safety__image {
    background-image: url(../assets/safety-fourth.png);
  }

  .mobile-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4vh;
  }

  .mobile-app__badges {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
  }

  .badge__app-store {
    width: 30%;
    cursor: pointer;
  }

  .badge__google-play {
    width: 30%;
    cursor: pointer;
  }

  .subsection-card__mobile-app {
    gap: 3vh;
    align-self: center;
    width: 100%;
    height: 100%;
  }

  .subsection-card__mobile-app > .features-point__text-content {
    width: 100%;
  }

  .phone-preview {
    position: relative;
    display: inline-block;
    align-self: center;
    box-sizing: border-box;
    width: 90%;
    height: 60vh;
    overflow: hidden;
  }

  .phone {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    object-position: top;
  }

  .section-features_no-padding-bottom {
    padding-bottom: 0;
  }

  .safety-list_flex {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobile-title-color {
    color: #ff4c0d;
  }

  /* SLIDER ==================================== */

  .slick-slide .slider__logo_orange {
    display: none;
  }

  .slick-slide .slider__logo_white {
    display: inline-block;
  }

  .title_in-slider {
    color: #f1f1f1;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .slick-dots {
    bottom: 0 !important;
    left: 43vw !important;
    flex-direction: row !important;
    width: 10vw !important;
  }

  .slick-dots li button:before {
    color: white !important;
  }

  .slick-dots li.slick-active button:before {
    color: white !important;
  }

  /*      feedback section             ================================================================================                                            */
  .feedback {
    width: 100%;
    overflow: hidden;
    background-image: url(../assets/feedback-bg.png);
    background-size: cover;
  }

  .feedback__title {
    width: 80vw;
    padding: 6vh 10vw 4vh 10vw;
  }

  .review {
    box-sizing: border-box;
    width: 80vw;
    margin: 0 10vw 0 10vw;
    border-radius: 15px;

    background-color: #151515;
    aspect-ratio: 1.7/1.2;
  }

  .slider-menu {
    display: flex;
    justify-content: space-around;
    padding: 5vh 10vw 5vh 10vw;
  }

  .slider-nav__buttons {
    display: none;
    flex-direction: row;
    gap: 15px;
  }

  .review_make {
    align-self: center;
    width: 190px;
    height: 54px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 65px;
    box-shadow: none;
    color: #151515;
    font-weight: 700;
    font-size: 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }

  .prev {
    width: 54px;
    border: none;
    border-radius: 54px;
    background-image: url(../assets/next-button.svg);
    background-position: center;
    transform: rotate(180deg);
    cursor: pointer;
    aspect-ratio: 1/1;
  }

  .next {
    width: 54px;
    border: none;
    border-radius: 54px;
    background-image: url(../assets/next-button.svg);
    background-position: center;
    cursor: pointer;
    aspect-ratio: 1/1;
  }

  .review-point {
    padding: 40px 20px 40px 20px;
  }

  .questions__popular > .review-point {
    padding-right: 0;
    padding-left: 0;
  }

  .review-point__title {
    color: #f1f1f1;
    font-family: "Gilroy", Gilroy, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
  }

  .review-point__line {
    width: 25%;
    height: 3px;
    margin: 15px 0 15px 0;
    background-color: #ff4c0d;
  }

  .review-point__text-content {
    padding: 0 10px 0 0;
    color: #f1f1f1;
    font-family: "Gilroy", Gilroy, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
  }

  /* feedback info section ================================== */

  .feedback-info {
    padding: 2vh 10vw 2vh 10vw;
  }

  .feedback__questions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .questions__ask {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3vh;
    width: 100%;
    padding: 0 0;
  }

  .questions__ask > .title {
    color: #ff4c0d;
    font-size: 25px;
  }

  .questions__ask > .button_ask {
    width: 80%;
  }

  .questions__popular {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .questions__ask > .features-point__text-content {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .button_ask {
    align-self: center;
    width: 190px;
    height: 54px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 65px;
    box-shadow: none;
    color: #151515;
    font-weight: 700;
    font-size: 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }

  .container-card {
    position: relative;
    padding: 6vh 10vw 6vh 10vw;
  }

  .buy-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-image: url(../assets/buy-card-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/2;
  }

  .preview-description.card__price {
    color: #ff4c0d;
  }

  .button-buy_orange {
    width: 130px;
    color: #f1f1f1;
    background-color: #ff4c0d;
  }

  .buy-card__input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
  }

  .container_in-card {
    display: flex;
    flex-direction: column;
    gap: 10%;
    height: 70%;
  }

  .scooter-in-card {
    position: absolute;
    bottom: 20%;
    left: -7vw;
    z-index: 0;
    height: 40%;
  }

  .scooter-in-card_active {
    z-index: 1;
  }

  .delivery-set {
    display: none;
  }
}
